params {
    datadir = "${projectDir}/resources/test-data/fastq"
    outputdir = "${launchDir}/output/"
    statsdir = "${params.outputdir}/statsFiles/"
    qcdir = "${params.outputdir}/qc/"
    plotdir = "${params.outputdir}/plots/"
    mappingsdir = "${params.outputdir}/mappings/"
    longmappingsdir = "${params.mappingsdir}/longReadMapping/"

    minReadSuppor = 2
    tech = "ONT" // "ONT" or "PacBio"
    genome = "hg38"
    
    threads = 8

    TMPDIR = "${launchDir}/tmp/"

    split_html = true
    genomes_folder = "${projectDir}/resources/test-data/fasta/"
    annotation = "${projectDir}/resources/test-data/input/gencode.v47.primary_assembly.annotation.chr12_25Mto50M.gtf"
    annotation_bed = "${projectDir}/resources/test-data/input/gencode.v47.primary_assembly.annotation.chr12_25Mto50M.bed"

    short_read = false // if true, it will perform short read mapping
    shortreadsdir = "${params.datadir}/hiSeq/"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${projectDir}/singularity"
}

env {
    PATH = "${projectDir}/workflow/scripts/:${projectDir}/workflow/scripts/Rscripts/:${System.getenv('PATH')}"
    BASE_PROJECT_DIR = "${projectDir}"
}

process {
    shell = '/bin/bash -eo pipefail'
    container = "docker://tamaraperteghella/lyric:latest"

    withName: longReadMapping {
        cpus = 16
        memory = '64 GB'
    }

    withName: hiSeqReadMapping {
        cpus = 12
        memory = '64 GB'
    }
}

workflow.output.mode = 'link'
