params {
    datadir = "${projectDir}/resources/test-data/fastq"
    outputdir = "${launchDir}/output/"
    statsdir = "${params.outputdir}/statsFiles/"
    qcdir = "${params.outputdir}/qc/"
    plotdir = "${params.outputdir}/plots/"
    threads = 8
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    shell = '/bin/bash -eo pipefail'
    env.PATH = "scripts/:scripts/Rscripts/:${PATH}"
}
